<div id="main-container">
    <div id="top-header">
        <div id="groups">
            <a class="group-link">FUTURE STUDENTS</a>
            <a class="group-link">CURRENT STUDENTS</a>
            <a class="group-link">PARENTS</a>
            <a class="group-link">FACULTY AND STAFF</a>
            <a class="group-link">ALUMNI</a>
            <a class="group-link">PARTNERS</a>
        </div>
        <div id="overall-links">
            <a class="general-links">REQUEST INFO</a>
            <a class="general-links">VISIT</a>
            <a class="general-links">APPLY</a>
            <a class="general-links">GIVE</a>
        </div>
    </div>
    <div id="bottom-header">
        <div id="header-name">
            <img src="assets\logoPNG-removebg-preview.png" id="rit-logo">
            <a><h2 id="page-name">Giving at RIT</h2></a>
            <div id="sub-main-nav">
                <a>News</a>
                <a>Directory</a>
                <a>myRIT</a>
            </div>
        </div>
    </div>
</div>
