#card-container{
    
}

.student-card{
    margin: auto;
    width: 30%;
    background-color: beige;
    padding: 3rem;
    margin-bottom: 2rem;
    width: 70%;
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
}


img{
    width: 70%;
    height: auto;
    padding-left: 2rem;
}