#card-container{
    font-family: “Helvetica Neue”, “Helvetica”, “Roboto”, “Arial”, sans-serif;
}

.student-card{
    margin: auto;
    width: 30%;
    padding: 3rem;
    margin-bottom: 2rem;
    width: 70%;
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
}


.student-image{
    width: 70%;
    height: auto;
    border-radius: 15px;
}

h1{
    font-weight: bolder;

}