section div {
  border: 1px dotted indianred;

}

#topf {
  grid-column: span 2;
}

h1{
  font-family: 'Helvetica Neue', sans-serif;
  padding: .5rem .5rem .5rem 1.8rem;


}

.row h1 {
  color: white;
}

.row {
  background-color: black;
}


#fRITName img {
  width: auto;
  height: 41.61px;
  filter: brightness(0) invert(1);
  margin: 1.4rem;
  display: inline-block;
}

#fRITName {



}

footer{
  width: 100vw;
  margin: 0 auto;
  background-color: black;
}



footer section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr .32fr;
  grid-template-areas: "tf tf"
                      "mf1 mf2"
                        "b  b";
}

#bottomf{
  grid-column: span 2;

}

#bottomf div {
  display: grid;
  width: auto;

  grid-template-columns: repeat(2, minmax(auto,1fr));

  justify-items: center;
}

#bottomf div h1{

  font-size: 2.2rem;
}


@media screen and (min-width: 1289px){
  footer section {
    width: 90% !important;
    margin: 0 auto !important;

    grid-template-columns: 1fr 1fr .9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  "tf mf1 mf2"
                              "b  b b";

  }

  #midf1 div{
    width: 375px!important;
  }

  #midf2 div {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }

  #parentDropdown {
    width: 60% !important;
  }

  h1{
    width: 66%!important;
  }

  #bottomf{
    margin: 0 !important;
    grid-column: span 3;
  }
  #bottomf div{
    margin-top: -7rem!important;
    min-width: 100% !important;
  }

}



.vl{
  border-left: 2.2px solid white;
  height: 17.5rem;
  right: .6rem;
  position: relative;

}

#fRITfullname {
  position: absolute;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: .65rem;
}

#fRITfullname  p {
  margin-top: 1rem;
  color: white;
  font-size: 1.52rem;
  line-height: 7px;

}

#midf1{
  margin: 1rem;


}

#midf1 p {
  color: white;
  margin-top: 1rem;
  padding:0 1rem 0 1rem;
  word-spacing: .02rem;


}

#midf1 p:nth-child(1) {
  padding-right: 2rem;
  line-height: 1.4rem;
}

#midf2{
  margin: 0;
  padding: 1rem;
}

#midf2 div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2;
  grid-column-gap: .3rem;




}




i {
  color: white;
  width: auto;
  height: 100%
}

#topf {
  grid-area: tf;
}
#mif1{
  grid-area: mf1;
}

#midf2 {
  grid-area: mf2;

}

#bottomf{
  grid-area: b;
}

.blank {
  grid-area:bl;
}

#parentDropdown {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
  grid-template-rows: 1fr .1fr;
}

#StudentForm{
  margin: 0 auto;
  width: 100%;
}

#StudentForm ul{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding: 2rem 3rem 3rem 2rem;
  list-style: none;
}

#StudentForm ul li{
  display: grid;
  grid-template-columns: 1fr .1fr;

}

.student{
  font-size: x-small;
}

#parentDropdown ul {
  list-style: none;
  padding: 2rem 3rem 3rem 2rem;
  width: 100%;
  grid-column: span 2;
}


#parentDropdown ul li {
  background-color: rgba(215, 245, 220,.1);
  padding: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
  color: darkorange;
  font-size: 1.2rem;
}

#parentDropdown ul li:hover {
  background-color: rgb(255, 245, 240);
  padding: 2.2rem;
  margin: 1.4rem;
  animation: OnHoverText 1s linear;
}


.newBorder{
  border: .15rem solid dimgrey;
}

@-webkit-keyframes OnHoverText {
  0% {
    color: darkorange;
  }

  100% {
    color: #333333;
  }
}

@-webkit-keyframes OnHoverBox {
  0% {
    background-color: darkorange;
  }

  10% {
    background-color: rgb(0, 5, 0);
    color:whitesmoke;
  }
}

#confirmParent{
  text-align: center;
  background-color: darkorange;
  border: none;
  padding: 1rem 1.9rem;
  grid-row: 2;
  grid-column: span 2;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto 5.4rem;
}

#confirmParent:hover{
  animation: OnHoverBox .3s linear;
  color: whitesmoke;
}

#confirmParent:focus{
  background-color: rgb(0, 5, 0);
  color: whitesmoke;
}


img{
  width: 100%;
}