
html {
    font-size: 14px;
    min-height: 100%;
    min-width: 375px;
}

body{
    margin: 0;
    height: 95vh;
}

section div {
    border: 1px dotted indianred;
    
}

#id topf {

}

.row h1 {
    color: white;
}

.row {
    background-color: black;
}


#fRITName img {
     width: auto;
     height: 41.61px;
     filter: brightness(0) invert(1);
     margin: 1.4rem;
     display: inline-block;
}

#fRITName {
   
  

}

footer{
    width: 100vw;
    margin: 0 auto;
    background-color: black;
}



 footer section {
        display: grid;
        margin: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tf tf"
                              "mf1 mf2"
                              "mf1 mf2"
                              "b  b";
                            
 }


#bottomf div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    margin: 0 auto;
    width: 100vw
}

#bottomf div h1{
    margin: .2rem;
    font-size: 1.4rem;
}


 @media screen and (min-width: 1289px){
    footer section {
        width: 80% !important;
        margin: 0 auto !important;
  
        grid-template-columns: 1fr 1fr 15%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "tf mf1 mf2"
                              "b  b b"
                              "b  b b";
    }

    #midf1 p {
        color: white;
        margin-top: 1rem;
        margin-left: 1.2rem;
        line-height: 7.2px;
        word-spacing: .02rem;
    }

    #midf2 div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

    #bottomf div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
      
    }
 }



 .vl{
     border-left: 2.2px solid white;
     height: 4.5rem;
     margin-top: .6rem;
     margin-bottom: .6rem;
     

     right: .6rem;
     position: relative;
     
 }

#fRITfullname {
    position: absolute;
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: .65rem;
}

#fRITfullname  p {
    margin-top: 1rem;
    color: white;
    font-size: 1.52rem;
    line-height: 7px;
    
}

#midf1 p {
    color: white;
    margin-top: 1rem;
    margin-left: 1.2rem;
    line-height: 10.9px;
    word-spacing: .02rem;
   
    word-break: break-word;
    word-wrap: normal;
}

#midf1 p:nth-child(1) {
    padding-right: 2rem;
    line-height: 1.4rem;
}

#midf2 div {
    display: grid;
    margin: 0;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 120%;
}




i {
    color: white;
   
}

#topf {
    grid-area: tf;
}
#mif1{
    grid-area: mf1;
}

#midf2 {
    grid-area: mf2;
}

#bottomf{
    grid-area: b;
}

.blank {
    grid-area:bl;
}