
<footer id="footer" >
    <!-- <section id ="fs">
            <section id="topf" class="row">
                <div id="fRITName">
                    <img src="../CallCenter/src/assets/RIT_logo.png" />
                    <span class="vl"></span>
                    <div id="fRITfullname"> <p>Rochester Institute</p> <p> of Technology</p></div>
                </div>
            </section>
            <section id="midf1" class="row">
                <div>
                    <p>One Lomb Memorial Drive</p>
                    <p>Rochester, Ny 14623</p>
                    <p>585-472-2411</p>
                </div>
            </section>
            <section id="midf2" class="row">
                <div>
                    <i class="fa-brands fa-instagram"> </i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </section>
            <section id="bottomf" class="row">
                <div>
                    <h1>About </h1>
                    <h1>Academics </h1>
                    <h1>About </h1>
                    <h1>About </h1>
                    <h1>About </h1>
                    <h1>About </h1>
                    <h1>About </h1>
                    <h1>About </h1>
                </div>
            </section>
            <section class="bl"></section>
            <section class="bl"></section>
    </section> -->
    <img src="assets\footer.PNG" alt="">
</footer>
